<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
</head>

<body>
    <h3>Api endpoints</h3>

    <ul>
        <li>GET /api -- returns this home page.
        </li>
        <br>
        <li> GET /api/topics -- returns all topics. </li>
        <li> GET /api/topics/:topic_slug/articles -- returns all articles for a specific topic.</li>
        <li> POST /api/topics/:topic_slug/articles -- adds a new article to a topic. Requires a JSON object containing both
            'title' and 'body' keys.</li>
        <br>
        <li> GET /api/articles -- returns all articles.</li>
        <li> GET /api/articles/:article_id -- returns a specific article.</li>
        <li> PATCH /api/articles/:article_id -- increments or decrements the vote score of an article by one. Requires a
            vote query of either 'up' or 'down'.</li>
        <li> GET /api/articles/:article_id/comments -- returns all of the comments for a specific article.</li>
        <li> POST /api/articles/:article_id/comments -- adds a new article to a comment. Requires a JSON object contain 'body'
            and 'created_by' keys.</li>
        <br>
        <li> PATCH /api/comments/:comment_id -- increments or decrements the votes of a comment by one. Required a vote query
            of "up" or "down".</li>
        <li> DELETE /api/comments/:comment_id -- deletes a specific comment.</li>
        <br>
        <li> GET /api/users/:username -- returns the profile data for a specific user.</li>
    </ul>
</body>

</html>